*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container{
	max-width: 1170px;
	margin: 0 auto;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul li{
	display: inline-block;
	position: relative;
}

.clr,
.clr::after{
	clear: both;
}

.clr::before,
.clr::after{
	content: "";
	display: table;
}

form input{
	width: 300px;
	line-height: 30px;
	animation:width 1.5s linear;
	-webkit-transition: all .5s linear;
	-o-transition: all .5s linear;
	transition: all .5s linear;
	outline: none;
	padding: 0 0 0 10px;
}

form :focus{
	width: 100%;
}

